.advantage__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 191px;
  padding: 39px 12px 35px;
  box-sizing: border-box;
  background-color: @background_colorful;
  color: @page-background;
}

.advantage:first-child .advantage__text-container {
  min-height: 195px;
  padding: 39px 12px 40px;
}

.advantage__text {
  padding-top: 16px;

  &_keynote,
  &_short {
    padding-bottom: 0;
  }
}

.advantage__img-container {
  min-height: 260px;
  min-width: 320px;
}

.advantage__img-street {
  background-image: url("../img/photo-city.jpg");
  background-position: center;
  background-size: 520px 260px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-city@2x.jpg");
  }
}

.advantage__img-devils-bridge {
  background-image: url("../img/photo-bridge.jpg");
  background-position: center;
  background-size: 520px 260px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-bridge@2x.jpg");
  }
}

.advantage__list {
  text-align: left;
  padding: 35px 40px 35px 0;
  margin-left: 69px;
  color: @text;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.advantage__icon {
  position: absolute;
  top: -9px;
  left: -48px;

  &_gift {
    top: -11px;
    left: -45px;
  }

  &_burger {
    top: -5px;
    left: -51px;
  }
}

.advantage {
  &_short {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 167px;
    padding: 25px 35px 24px;
    box-sizing: border-box;
    color: @text;
    background-color: @background-advantage_short;

    &:not(:last-child) {
      min-height: 168px;
      padding-bottom: 25px;
    }

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      height: 1px;
      background-color: @line_dark-gray;
      z-index: 1;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    padding: 0 0 60px;
    margin-left: 0;

    &_keynote {
      padding: 0 4px 0 2px;
    }

    &_short {
      padding: 0 10px;
    }
  }

  .advantage {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__text {
    padding-top: 23px;

    &_keynote {
      padding: 0 3px;
    }
  }

  .advantage__number {
    padding-bottom: 9px;
  }

  .advantage__img-container {
    flex-basis: 512px;
    min-height: 256px;
    flex-grow: 2;
    flex-shrink: 1;
  }

  .advantage__img-street {
    background-size: 100%;
  }

  .advantage__img-devils-bridge {
    background-size: 100%;
    order: -1;
  }

  .advantage__item {
    padding: 0 40px;
    margin-top: 158px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .advantage__icon {
    top: -98px;
    left: 50%;
    transform: translateX(-50%);

    &_house {
      width: 75px;
      height: 72px;
    }

    &_gift {
      top: -101px;
      width: 64px;
      height: 75px;
    }

    &_burger {
      top: -95px;
      width: 76px;
      height: 68px;
    }
  }

  .advantage__item_souvenirs {
    order: 1;
    padding: 0 30px;
  }

  .advantage__item_food {
    padding: 0 50px;
  }

  .advantage:first-child .advantage__text-container {
    min-height: 256px;
    padding: 39px 20px 45px;
  }

  .advantage__text-container {
    flex-basis: 256px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 256px;
    min-height: 256px;
    padding: 44px 50px 42px;
  }

  .advantages__list .advantage_short {
    min-width: 256px;
    min-height: 256px;
    padding: 42px 40px 42px 40px;

    &::after {
      content: none;
    }
  }

  .advantage__text_short-keynote {
    padding: 0 9px;
  }

  .advantage_short .advantage__number {
    padding-bottom: 22px;
  }

  .advantage_short p {
    min-height: 63px;
  }
}

@media (min-width: @desktop-width) {
  .advantage:first-child .advantage__text-container {
    padding: 47px 55px 58px;
  }

  .advantage__item {
    padding: 0 50px;
  }

  .advantage__text {
    &_keynote {
      padding: 0 40px;
    }

    &_short {
      padding: 0 90px;
    }
  }

  .advantage__line-break {
    display: block;
  }

  .advantage__list {
    padding-bottom: 81px;
  }

  .advantage__text-container {
    padding: 52px 85px 54px;
  }

  .advantage__img-devils-bridge {
    background-position: 50% -15px;
  }

  .advantage__icon {
    &_gift {
      top: -101px;
    }

    &_burger {
      top: -95px;
    }
  }
}
