.check-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 49px;
}

.check-in__text-container {
  margin-bottom: 9px;
}

.check-in__text_keynote{
  font-size: 21px;
  padding-bottom: 32px;
}

.check-in__button {
  display: flex;
  align-items: center;
}
