.form-header__img-container {
  width: 100%;
  min-height: 158px;
  background:
    ~"@{triangle}",
    url("../img/text-header-form.svg") 50% 52px no-repeat,
    url("../img/header-form.jpg") 50% 100% no-repeat;
}
