.index-header__img-container {
  width: 100%;
  min-height: 389px;
  background:
    ~"@{triangle}",
    url("../img/text-header-index.svg") 50% 90px no-repeat,
    url("../img/header-index.jpg") 50% 50% no-repeat;
}
