.main-nav {
  background-color: @main-nav-background;
  margin-bottom: -1px;
}

.main-nav_hidden {
  display: none;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  vertical-align: center;
  margin-bottom: 1px;

  &:not(:first-child) {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

.main-nav__item a {
  width: 100%;
  min-height: 55px;
  font-size: 18px;
  line-height: 35px;
}

.main-nav-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 7px;
    background: url("../img/main-nav__shadow.png");
    z-index: 2;
  }
}

.page-header__button-toggle {
  position: relative;
  width: 23px;
  height: 22px;
  background-color: @page-background;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 23px;
    height: 4px;
    background-color: @background_colorful;
    box-shadow:
      0 9px 0 0 @background_colorful,
      0 18px 0 0 @background_colorful;
  }

  &:hover::after,
  &:focus::after {
    background-color: fade(@background_colorful, 60%);
    box-shadow:
      0 9px 0 0 fade(@background_colorful, 60%),
      0 18px 0 0 fade(@background_colorful, 60%);
  }

  &:active::after {
    background-color: fade(@background_colorful, 30%);
    box-shadow:
      0 9px 0 0 fade(@background_colorful, 30%),
      0 18px 0 0 fade(@background_colorful, 30%);
  }
}

.page-header__button-close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -3px;
    width: 27px;
    height: 4px;
    background-color: @page-background;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: -3px;
    width: 27px;
    height: 4px;
    background-color: @page-background;
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:focus::after,
  &:hover::before,
  &:focus::before {
    background-color: fade(@page-background, 60%);
  }

  &:active::after,
  &:active::before {
    background-color: fade(@page-background, 30%);
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 156px;
    background-color: @page-background;
    margin-bottom: 0;
  }

  .main-nav_hidden {
    display: grid;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 140px;
    height: 56px;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .main-nav__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    line-height: 26px;
    color: @text;
    background-color: @page-background;

    &:hover,
    &:focus {
      color: @background_colorful;
      background-color: @page-background;
    }

    &:active {
      color: @text;
      opacity: 0.3;
    }
  }

  .main-nav__item_active a {
    color: @main-nav__item_active;

    &:hover,
    &:focus {
      color: @main-nav__item_active-hover;
    }

    &:active {
      color: @main-nav__item_active-active;
    }
  }

  .page-header__button-close {
    display: none;
  }

  .main-nav-container::after {
    content: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    gap: 244px;
  }

  .main-nav__item {
    width: 230px;
  }
}
