.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 10px 27px;
}

.text_keynote{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text{
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
