.page-header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 17px 20px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
