.photo {
  border-top: 1px solid @border;
  line-height: 24px;
}

.photo__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 280px;
  background-color: @background-advantage_short;
  cursor: pointer;
}

.photo__caption-container {
  margin-top: 10px;
}

.photo__info-container {
  margin-top: 10px;
}

.photo__caption {
  font-style: normal;
  font-weight: bold;
}

.photo__author {
  text-transform: none;
}

.photo__approval-number {
  font-weight: bold;
}

.photo__approval-container {
  display: flex;
  align-items: center;
}

.photo__approval-button {
  margin-right: 14px;
}
