.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 267px;
  padding: 0;
  margin: 19px auto 0;
  width: 100%;
  max-width: 400px;
}

.player__video-container {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: @background-advantage_short;
  background-image: url("../img/video-mobile.jpg");
  background-size: 100% 100%;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 100% 100%;
    background-position: center;
  }
}

.player__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 87.5%;
  height: 66px;
  padding: 12px 23px 10px 25px;
  box-sizing: border-box;
  background-color: @feedback-form__input;
}

.player__loading-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 45px;
  background-color: @player__control;
}

.player__loading-bar {
  position: relative;
  width: 84%;
  height: 3px;
  background-color: @player__loading-bar;
}

.player__thumb {
  position: absolute;
  top: -3px;
  left: 29.3%;
  width: 9px;
  height: 9px;
  background-color: @page-background;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.player__buttons-wrapper {
  display: flex;
}

.player__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 20px;
  border: none;
  cursor: pointer;
  background: none;

  &:not(:last-child) {
    margin-right: 31px;
  }
}

.player__button_replay {
  width: 16px;
}

.player__button_subtitles {
  width: 32px;
}

.player__button_fullscreen {
  width: 20px;
}

.player__icon {
  fill: @player__icon;
}

.player__button:hover .player__icon,
.player__button:focus .player__icon {
  fill: @radio__input_checked;
}

.player__button:active .player__icon {
  fill: fade(@radio__input_checked, 30%);
}

@media (min-width: @tablet-width) {
  .player {
    align-items: flex-start;
    position: relative;
    margin: 7px auto 0;
    min-width: 648px;
    max-width: 800px;
    min-height: 500px;
  }

  .player__video-container {
    width: 100%;
    min-height: 500px;
    background-image: url("../img/video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 100% 100%;
      background-position: center;
    }
  }

  .player__loading-bar-container {
    position: static;
    transform: translateX(0);
    width: 100%;
    margin: 0 42px 0 11px;
    background: none;
  }

  .player__loading-bar {
    width: 100%;
  }

  .player__control {
    justify-content: flex-start;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93px;
    padding: 13px 41px 15px 35px;
    background-color: @player__control;
  }

  .player__icon {
    fill: @page-background;
  }

  .player__button:hover .player__icon,
  .player__button:focus .player__icon {
    fill: fade(@page-background, 80%);
  }

  .player__button:active .player__icon {
    fill: fade(@page-background, 30%);
  }
}
