.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 17px auto 0;
  width: 100%;
  max-width: 400px;
}

.player__video-container {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: @background-advantage_short;
  background-image: url("../img/video.jpg");
  background-size: 100% 100%;
}

.player__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 87.5%;
  height: 66px;
  padding: 10px 23px;
  box-sizing: border-box;
  background-color: @feedback-form__input;
}

.player__loading-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 45px;
  background-color: @player__control;
}

.player__loading-bar {
  position: relative;
  width: 84%;
  height: 3px;
  background-color: @player__loading-bar;
}

.player__thumb {
  position: absolute;
  top: -3px;
  left: 15.3%;
  width: 9px;
  height: 9px;
  background-color: @page-background;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.player__button {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 31px;
  }
}

.player__buttons-wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .player {
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    min-width: 648px;
    max-width: 800px;
    min-height: 500px;
  }

  .player__video-container {
    width: 100%;
    min-height: 500px;
  }

  .player__loading-bar-container {
    position: static;
    transform: translateX(0);
    width: 60%;
    background: none;
  }

  .player__loading-bar {
    width: 100%;
  }

  .player__control {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: @player__control;
  }
}

@media (min-width: @desktop-width) {
  .player__loading-bar-container {
    width: 67.5%;
  }
}
