.social-img {
  width: 46px;
  height: 48px;
  background-color: @background_colorful;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-active;
  }
}

.social-img svg {
  fill: @page-background;
}

.social-img:hover svg,
.social-img:focus svg {
  fill: @page-background;
}

.social-img:active svg {
  fill: fade(@page-background, 30%);
}
