body{
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  background-color: @white;
}

.page-body p,
.page-body ul,
.page-body h3,
.page-body h2,
.page-body h4{
  margin-block-start: 0;
  margin-block-end: 0;
}

.page-body a{
  text-decoration: none;
}

.page-body ul{
  list-style-type: none;
  padding-left: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.button{
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: @blue;
  color: @white;
}
