//Colors
@page-background: #FFFFFF;
@text: #000000;
@background_colorful: #81B3D2;
@background-advantage_short: #EEEEEE;
@line_dark-gray: #D6D6D6;
@main-nav-shadow: rgba(255, 255, 255, 0.2);
@main-nav-background: #678FA8;
@button-hover: #669EC0;
@button-active: #5496BD;
@button-active-text: rgba(255, 255, 255, 0.3);
@border: #E5E5E5;
@feedback-form__input: #F2F2F2;
@photo-caption: #EAEAEA;
@border-tablet-width: #DBDBDB;
@modal-shadow: rgba(0, 1, 1, 0.15);
@player__loading-bar: rgba(255, 255, 255, 0.2);
@photo-caption_desktop: rgba(0, 0, 0, 0.3);

//Elements
@triangle: url("../img/header-triangle.svg") 50% 100% no-repeat;

//Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobil-width-only: 767px;
