//Colors
@white: #FFFFFF;
@blue: #81B3D2;
@black: #000000;
@gray: #EEEEEE;
@dark-gray: #D6D6D6;
@main-nav-shadow: rgba(255, 255, 255, 0.2);
@main-nav-background: #678FA8;

//Elements
@triangle: url("../../img/header/header-triangle.svg") 50% 100% no-repeat;
